<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>lab5</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>AdminServlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
 <servlet>
        <display-name>CinemaAdd</display-name>
        <servlet-name>CinemaAdd</servlet-name>
        <servlet-class>servlets.admin.cinema.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaAdd</servlet-name>
        <url-pattern>/admin/cinema/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>CinemaList</display-name>
        <servlet-name>CinemaList</servlet-name>
        <servlet-class>servlets.admin.cinema.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaList</servlet-name>
        <url-pattern>/admin/cinema/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HallAdd</servlet-name>
        <servlet-class>servlets.admin.hall.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallAdd</servlet-name>
        <url-pattern>/admin/hall/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HallList</servlet-name>
        <servlet-class>servlets.admin.hall.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallList</servlet-name>
        <url-pattern>/admin/hall/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieAdd</servlet-name>
        <servlet-class>servlets.admin.movie.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieAdd</servlet-name>
        <url-pattern>/admin/movie/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieList</servlet-name>
        <servlet-class>servlets.admin.movie.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieList</servlet-name>
        <url-pattern>/admin/movie/list</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MovieAdd</servlet-name>
        <url-pattern>/admin/movie/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SeansList</servlet-name>
        <servlet-class>servlets.admin.seans.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeansList</servlet-name>
        <url-pattern>/admin/seans/list</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SeansAdd</servlet-name>
        <servlet-class>servlets.admin.seans.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeansAdd</servlet-name>
        <url-pattern>/admin/seans/add</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>TopRated</servlet-name>
        <servlet-class>servlets.admin.top.Rated</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopRated</servlet-name>
        <url-pattern>/admin/top/rated</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TopMoney</servlet-name>
        <servlet-class>servlets.admin.top.Money</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopMoney</servlet-name>
        <url-pattern>/admin/top/money</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>rest</param-value>
        </init-param>
        <init-param>
            <param-name>org.glassfish.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/admin/rest/*</url-pattern>
    </servlet-mapping>
</web-app>